<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <div class="container">
        <h1>Flexo Lister</h1>
        <form action="/api/listing" method="post" enctype="multipart/form-data" onsubmit="updateFileOrder()">
            <%- include('partials/formFields') %>
        </form>
    </div>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>

